.home__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3em;
  padding: 5em;
}

.home__img-pokedex {
  min-height: 40%;
  width: auto;
  object-fit: cover;
  object-position: bottom;
  margin: 0 auto;
}

.home__tittle {
  font-family: "Changa", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: rgb(202, 18, 18);
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* .home__circle {
  width: 250px;
  min-height: 235px;
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: solid 1px rgb(226, 0, 0);
  box-shadow: 0px 0px 7px 0px rgb(255, 31, 31),
    inset 0px 0px 7px 0px rgb(255, 31, 31);
} */

/* .home__lines {
  margin: 0 auto;
  border: solid 1px #252525;
  z-index: 100;
}
.home__circle-2 {

} */

.home__img-trainers {
  width: 20%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  
  .home__img-trainers {
    width: 70%;
    
  }

  .home__img-pokedex {
    width: 90%;
  }
}

.home__subtittle {
  font-weight: 300;
  font-size: 35px;
}

.home__input {
  border-color: rgb(202, 18, 18);
  margin-right: 1.2em;
}

.home__btn {
  font-family: "Changa", sans-serif;
  background-color: rgb(231, 21, 6); 
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 23px;
  border-radius: 15px;
  border: solid 1.8px #252525;
  box-shadow: inset 1px -1px 0px 3px rgba(228, 228, 228, 0.432);
  cursor: pointer;
  transform: scale(1);
  transition: background-color 1s;
}

.home__btn:hover {
  transform: scale(1.1);
  transition: all 1.5ms ease;
  background-color: rgb(201, 46, 46);
  box-shadow: inset 1px -1px 0px 3px rgba(165, 165, 165, 0.418);
}
